header {
    min-height: 50px;
}

body {
    font-family: 'Livvic';
    min-height: 100vh;
    margin: 0;
    position: relative;
}


body {
    position: relative;
  }

	.footer {
    left: auto;
    position: fixed;
    bottom: auto;
    width: auto;
    height: auto;
    }
    
    .footerbutton {
    color: rgba(0, 0, 0, 0.699);
    display: inline-block;
    text-decoration: none;
    }
    
    .footerlink {
    text-decoration: none;
    }
