table {
	text-align: center;
	border-collapse: collapse;
    font-family: 'Livvic';
}
td, th {
	white-space: nowrap;
	background: #eee;
	width: 40px;
	font-size: 10pt;
	height: 18px;
}
td.randboven {
	border-top: 1px solid #000;
}
td.randrechts {
	border-right: 1px solid #000;
}
td.randonder {
	border-bottom: 1px solid #000;
}
td.randlinks {
	border-left: 1px solid #000;
}
th {
	background: #bbb;
	border: 1px solid #000;
}
abbr {
	cursor: help;
}
strike {
	color: #888;
}

td.leeg {
	background: #fdfdfd;
}

table.index td {
	padding: 1px 3px 1px 3px;
	border: 1px solid #000;
}


td.dienstregeling_treinnummer {
	font-weight: bold;
	background: #b3b3b3;
	border: 1px solid #000;
}
td.dienstregeling_materieel {
	background: #cccccc;
	border: 1px solid #000;
}
td.dienstregeling_materieel sup {
	font-weight: italic;
	color: #888;
}
td.dienstregeling_materieel input{
	border: 1px solid #000;
	background-color: #f8f8f8;
	text-align: center;
	width: 100px;
}
td.dienstregeling_materieel input.bewerkinzet {
	width: 120px;
}
td.dienstregeling_materieel input.bewerkmaterieel {
	width: 50px;
}
td.dienstregeling_materieel input.bewerklengte {
	width: 70px;
}
td.dienstregeling_materieel input.bewerkomloop {
	width: 40px;
}
td.dienstregeling_station {
	border-left: 1px solid #000;
}
td.dienstregeling_station abbr {
	font-weight: italic;
	color: #888;
}
td.dienstregeling_drukte {
	font-size: 8px;
}
td.dienstregeling_tijd abbr {
	font-weight: italic;
	color: #888;
}

td.dienstregeling_aankomst {
	border-bottom: 1px solid #000;
}
td.dienstregeling_doorkomst {
	color: #888;
}
td.dienstregeling_opmerking {
	background-color: #aabbcc;
	border: 1px solid #000;
}
td.dienstregeling_kleur0 { color: #888888; }
td.dienstregeling_kleur1 { color: #338833; }
td.dienstregeling_kleur2 { color: #996600; }
td.dienstregeling_kleur3 { color: #bb0044; }
td.dienstregeling_randrechts {
	border-right: 1px solid #000;
}
td.dienstregeling_randonder {
	border-bottom: 1px solid #000;
}


td.station_kop1, td.station_kop2 {
	font-weight: bold;
	background: #b3b3b3;
}
td.station_cel2 {
	background: #ddd;
}
td.station_randboven {
	border-top: 1px solid #000
}
td.station_randrechts {
	border-right: 1px solid #000;
}
td.station_randonder {
	border-bottom: 1px solid #000;
}
td.station_randlinks {
	border-left: 1px solid #000
}


td.daglijst_kop {
	font-weight: bold;
	background-color: #bbbbbb;
	border: 1px solid #000;
	white-space: nowrap;
}
td.daglijst_subkop {
	font-weight: bold;
	background-color: #dddddd;
	border: 1px solid #000;
	white-space: nowrap;
}
td.daglijst_cel {
	border: 1px solid #000;
	white-space: nowrap;
}
td.daglijst_cel i {
	color: #888;
}
td.daglijst_omloop {
	text-align: left;
	font-family: monospace;
	white-space: pre;
	font-size: 10pt;
	padding-left: 5px;
}


td.omloop_kop {
	background: #bbb;
	font-weight: bold;
	border: 1px solid #000;
}
td.omloop_kop2 {
	background: #bbb;
	font-weight: bold;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
td.omloop_kop3 {
	background: #ddd;
}
td.omloop_kop2start, td.omloop_kop3start {
	border-left: 1px solid #000;
}
td.omloop_kop2eind, td.omloop_kop3eind {
	border-right: 3px double #000;
}
td.omloop_start {
	background: #ddd;
	padding: 0px 5px 0px 5px;
}
td.omloop_cel {
	min-width: 35px;
	background: #fdfdfd;
	padding: 0px 5px 0px 5px;
}
td.omloop_gdst {
	font-weight: bold;
	background: #fc0;
}
td.omloop_onbekend {
	background: #f80;
}
td.omloop_dagomloop {
	color: #666;
	font-style: italic;
}
td.omloop_randrechts {
	border-right: 1px solid #000;
}
td.omloop_randonder {
	border-bottom: 1px solid #000;
}


td.omlooplocaties_kop {
	background: #bbb;
	font-weight: bold;
	border: 1px solid #000;
}
td.omlooplocaties_kop2 {
	background: #ddd;
	font-weight: bold;
}
td.omlooplocaties_kop2hoek {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
}
td.omlooplocaties_kop2boven {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
td.omlooplocaties_kop2links {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
td.omlooplocaties_kop2eind {
	border-right: 1px solid #000;
}

td.omlooplocaties_celoneven {
	border-right: 1px dotted #000;
}
td.omlooplocaties_randrechts {
	border-right: 1px solid #000;
}
td.omlooplocaties_randonder {
	border-bottom: 1px solid #000;
}

table.dienstregelingvergelijk td {
    border: 1px solid #000;
    vertical-align: top;
    padding: 5px;
}

header {
    min-height: 50px;
}

body {
    font-family: 'Livvic';
    min-height: 100vh;
    margin: 0;
    position: relative;
}


body {
    position: relative;
  }

  footer {
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }